.h1 {
  color: red;
}

em {
  color: green;
}

li {
  font-weight: bold;
}

li em {
  font-size: x-large;
}

a {
  text-decoration: none;
}

.wikipedia:hover {
  color: red;
  text-decoration: underline;
}

.wikipedia:visited {
  color: aqua;
}

/* Упражнение 2. Сокращённые свойства */
.element {
  font-size: 18px;
  font-weight: normal;
  font-family: sans-serif;
  font: 18px normal "Robota", sans-serif;
}

/* Упражнение 3. Флаг */

.flag {
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 4px;
  border-style: solid;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-circle {
  height: 240px;
  width: 240px;
  background: red;
  border-radius: 50%;
  margin: auto;
  position: static;
}

.lesson {
  text-align: center;
  font-size: x-large;
}

.list-group {
  list-style-type: none;
}

.list-group a {
  color: black;
  display: block;
  text-decoration: none;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item a:hover {
  background: #0d6efd;
  color: white;
}

.card-img-top {
  width: 350px;
  border: 0.5px solid black;
  display: flex;
  margin: auto;
  
}

.card-body {
  width: 350px;
  height: 200px;
  border: 0.5px solid black;
  margin: auto;
  position: relative;
}

.card-text, .card-title{
  padding: 5px;
}

.btn {
  bottom: 10px;
  left: 10px;
  width: auto;
  background: #e45d80;
  color: aliceblue;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
}
