.h1 {
  color: red;
}

em {
  color: green;
}

li {
  font-weight: bold;
}

li em {
  font-size: x-large;
}

a{
  text-decoration: none;
}

.wikipedia:hover {
  color: red;
  text-decoration: underline;
}

.wikipedia:visited {
  color: aqua;
}
